// $font-display: 'Playfair Display', Georgia, serif;
// $font-body: Roboto, Helvetica, sans-serif;;
$font-display: 'Titillium Web', Georgia, serif;
$font-body: 'Roboto Slab', Helvetica, sans-serif;

$colors: (
  black: #262525,
  darkgray: #333,
  white: #333,
);

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  padding-top: 3em;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3em;
  background: map-get($colors, black);
  box-shadow: 0 2px 12px rgba(#212121, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;

  &__logo {
    text-indent: -9999px;
    width: 36px;
    height: 36px;
    margin: 0;
    background: url('../images/logo@2x.png') 50% 50% / contain no-repeat;
  }
}

p {
  font: 300 0.8em / 1.7 $font-body;
  color: map-get($colors, darkgray);
  margin: 0.5em auto;
}

.content {
  flex: 1 1 100%;
  background: #F5F5F5;
  position: relative;
  z-index: 1;

  .post {
    min-height: 500px;
    padding: 2.5em 2em 2em;
    overflow: hidden;

    &.is-dark {
      .post__title,
      .post__date,
      p {
        color: rgba(#fff, 0.95);
      }
    }

    &--vast {
      background:
        url('../images/posts/vast-portrait.png') 50% 100% / 100% auto no-repeat,
        radial-gradient(circle at 50% 90%, #545663, darken(#545663, 15%));
    }

    &--helloworld {
      background:
        url('../images/posts/helloworld-portrait.png') 50% 100% / 100% auto no-repeat,
        radial-gradient(circle at 50% 90%, #fccf7a, #a23514);
    }

    &__title {
      font: 700 1.8em / 1.3 $font-display;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: map-get($colors, darkgray);
      margin: 0 auto 0.5em;
    }

    &__date {
      font: 300 0.8em / 0.8 $font-display;
      color: map-get($colors, darkgray);
      margin: 0 auto 0.8em;
    }

    &__excerpt {
      margin: 0 auto 0.7em;
    }
  }
}

.button {
  cursor: pointer;
  border: none;
  padding: 0;

  &:hover,
  &:focus {
    outline: none;
  }

  &--rarrow {
    width: 20px;
    height: 20px;
    background: url('../images/arrow-right-black.png') 50% 50% / contain no-repeat;

    .is-dark & {
      background-image: url('../images/arrow-right-white.png');
    }
  }
}