*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

html {
  font-size: 62.5%;
}

p,
li {
  font: 300 1.5em / 1.6 $font-body;
  color: map-get($colors, darkgray);
  word-break: break-word;

  a {
    color: inherit;
  }

  strong {
    font-weight: 700;
  }

  em {
    font-weight: inherit;
    font-style: italic;
  }

  .strike {
    text-decoration: line-through;
  }
}

p {
  margin: 1em auto;
}

li {
  margin: 0.5em auto;
}