
.button {
  cursor: pointer;
  border: none;
  padding: 0;

  &:hover,
  &:focus {
    outline: none;
  }

  &--rarrow {
    width: 20px;
    height: 20px;
    background: url('../images/arrow-right-black.png') 50% 50% / contain no-repeat;

    .is-dark & {
      background-image: url('../images/arrow-right-white.png');
    }
  }

  &--back {
    text-indent: -9999px;
    width: 3.3rem;
    height: 3.3rem;
    background: url('../images/arrow-left-white.png') 50% 50% / 80% auto no-repeat;
  }
}