.post {
  min-height: 500px;
  padding: 3.5em 2.5em 0;
  overflow: hidden;

  &.is-dark {
    .post__title,
    .post__date,
    p {
      color: rgba(#fff, 0.95);
      text-shadow: 0 0 4px rgba(#212121, 0.5);
    }
  }

  &--vast {
    background:
      url('../images/posts/vast/portrait.png') 50% 100% / 100% auto no-repeat,
      radial-gradient(circle at 50% 90%, #545663, darken(#545663, 15%));
  }

  &--helloworld {
    background: url('../images/posts/helloworld/portrait.jpg') 50% 50% / cover no-repeat;
  }

  &__title {
    font: 700 3.6rem / 1.2 $font-display;
    text-transform: uppercase;
    color: map-get($colors, darkgray);
    margin: 0 auto 0.3em;
    cursor: pointer;
    user-select: none;
  }

  &__date {
    font: 300 1.3rem / 0.8 $font-display;
    color: map-get($colors, darkgray);
    margin: 0 auto 0.2em;
  }
}