.post {
  display: block;
  font-size: 1em;
  padding: 3.5em 2.5em 0;
  overflow: hidden;

  @media screen and (max-width: map-get($screens, sm)) {
    min-height: 450px;
  }

  @media screen and (min-width: map-get($screens, sm)) {
    font-size: 1.1em;
    padding: 7em;
  }

  .post__title,
  .post__date,
  p {
    text-shadow: 0 0 10px rgba(#121212, 1);
  }

  &--el-curso-de-la-historia {
    @media screen and (max-width: map-get($screens, sm)) {
      min-height: 540px;
    }

    background:
      url('../images/posts/el-curso-de-la-historia/portrait.jpg') 50% 100% / 100% auto no-repeat,
      linear-gradient(to bottom, #e97938, #efd799 30%);

    @media screen and (min-width: map-get($screens, sm)) {
      background:
        post-text-shadow('horizontal'),
        url('../images/posts/el-curso-de-la-historia/portrait-wide.jpg') 50% 50% / cover no-repeat;
      }

    @media screen and (min-width: map-get($screens, lg)) {
      background:
        post-text-shadow('vertical'),
        url('../images/posts/el-curso-de-la-historia/portrait-wide.jpg') 50% 50% / cover no-repeat;
    }
  }

  &--epic-juego-cartas {
    background:
      #9ddafe
      url('../images/posts/epic-juego-cartas/portrait.jpg') 50% 100% / 100% auto no-repeat;

    @media screen and (min-width: map-get($screens, sm)) {
      background:
        post-text-shadow('horizontal'),
        url('../images/posts/epic-juego-cartas/portrait-wide.jpg') 50% 50% / cover no-repeat;
      }

    @media screen and (min-width: map-get($screens, lg)) {
      background:
        post-text-shadow('vertical'),
        url('../images/posts/epic-juego-cartas/portrait-wide.jpg') 50% 50% / cover no-repeat;
    }
  }

  &--heaven-and-ale {
    background:
      url('../images/posts/heaven-and-ale/portrait.png') 50% 100% / 100% auto no-repeat,
      radial-gradient(circle at 50% 90%, #313776, #29b3e3);

    @media screen and (min-width: map-get($screens, sm)) {
      background:
        post-text-shadow('horizontal'),
        url('../images/posts/heaven-and-ale/portrait-wide.jpg') 50% 50% / cover no-repeat;
    }

    @media screen and (min-width: map-get($screens, lg)) {
      background:
        post-text-shadow('vertical'),
        url('../images/posts/heaven-and-ale/portrait-wide.jpg') 50% 50% / cover no-repeat;
    }
  }

  &--vast-the-crystal-caverns {
    @media screen and (max-width: map-get($screens, sm)) {
      min-height: 540px;
    }

    background:
      url('../images/posts/vast/portrait.png') 50% 100% / 100% auto no-repeat,
      radial-gradient(circle at 50% 90%, #545663, darken(#545663, 15%));

    @media screen and (min-width: map-get($screens, sm)) {
      background:
        post-text-shadow('horizontal'),
        url('../images/posts/vast/portrait-wide.jpg') 50% 50% / cover no-repeat;
    }

    @media screen and (min-width: map-get($screens, lg)) {
      background:
        post-text-shadow('vertical'),
        url('../images/posts/vast/portrait-wide.jpg') 50% 50% / cover no-repeat;
    }
  }

  &--hello-world {
    background: url('../images/posts/helloworld/portrait.jpg') 50% 50% / cover no-repeat;

    @media screen and (min-width: map-get($screens, sm)) {
      background:
        post-text-shadow('horizontal'),
        url('../images/posts/helloworld/portrait-wide.jpg') 50% 50% / cover no-repeat;
    }

    @media screen and (min-width: map-get($screens, lg)) {
      background:
        post-text-shadow('vertical'),
        url('../images/posts/helloworld/portrait-wide.jpg') 50% 50% / cover no-repeat;
    }
  }

  &__title {
    font: 700 3.6em / 1.2 $font-display;
    text-transform: uppercase;
    color: map-get($colors, darkgray);
    margin: 0 auto 0.3em;
    cursor: pointer;
    user-select: none;
  }

  &__subtitle {
    font: 700 2.4em / 1.2 $font-display;
    color: map-get($colors, darkgray);
    text-transform: uppercase;
    margin: 1.2em auto 0.3em;
  }

  &__date {
    font: 400 1.3em / 0.8 $font-display;
    color: map-get($colors, darkgray);
    margin: 0 auto 0.2em;
  }
}