.post {
  display: block;
  font-size: 1em;
  padding: 3.5em 2.5em 0;
  overflow: hidden;
  animation: post-enter-opacity 0.5s ease-in-out both, post-enter-position 1s cubic-bezier(0.28, 0.52, 0.42, 0.94) both;

  @keyframes post-enter-opacity {
    0% { opacity: 0; }
  }

  @keyframes post-enter-position {
    0% { transform: translate(0, -1em); }
  }

  @media screen and (max-width: map-get($screens, sm)) {
    min-height: 540px;
  }

  @media screen and (min-width: map-get($screens, sm)) {
    font-size: 1.1em;
    padding: 7em;
  }

  .post__title,
  .post__date,
  p {
    text-shadow: 0 0 12px rgba(#212121, 1);
  }

  &--heaven-and-ale {
    background:
      url('../images/posts/heaven-and-ale/portrait.png') 50% 100% / 100% auto no-repeat,
      radial-gradient(circle at 50% 90%, #313776, #29b3e3);

    @media screen and (min-width: map-get($screens, sm)) {
      background:
        linear-gradient(to right, rgba(#000, 0.85), rgba(#000, 0.3)),
        url('../images/posts/heaven-and-ale/portrait-wide.jpg') 50% 50% / cover no-repeat;
    }

    @media screen and (min-width: map-get($screens, lg)) {
      background:
        linear-gradient(to bottom, rgba(#000, 0.7), rgba(#000, 0.2)),
        url('../images/posts/heaven-and-ale/portrait-wide.jpg') 50% 50% / cover no-repeat;
    }
  }

  &--vast-the-crystal-caverns {
    background:
      url('../images/posts/vast/portrait.png') 50% 100% / 100% auto no-repeat,
      radial-gradient(circle at 50% 90%, #545663, darken(#545663, 15%));

    @media screen and (min-width: map-get($screens, sm)) {
      background:
        linear-gradient(to right, rgba(#000, 0.7), rgba(#000, 0.2)),
        url('../images/posts/vast/portrait-wide.jpg') 50% 50% / cover no-repeat;
    }

    @media screen and (min-width: map-get($screens, lg)) {
      background:
        linear-gradient(to bottom, rgba(#000, 0.7), rgba(#000, 0.2)),
        url('../images/posts/vast/portrait-wide.jpg') 50% 50% / cover no-repeat;
    }
  }

  &--hello-world {
    background: url('../images/posts/helloworld/portrait.jpg') 50% 50% / cover no-repeat;

    @media screen and (min-width: map-get($screens, sm)) {
      background:
        url('../images/posts/helloworld/portrait-wide.jpg') 50% 50% / cover no-repeat;
    }

    @media screen and (min-width: map-get($screens, lg)) {
      background:
      linear-gradient(to bottom, rgba(#000, 0.6), rgba(#000, 0)),
        url('../images/posts/helloworld/portrait-wide.jpg') 50% 50% / cover no-repeat;
    }
  }

  &__title {
    font: 700 3.6em / 1.2 $font-display;
    text-transform: uppercase;
    color: map-get($colors, darkgray);
    margin: 0 auto 0.3em;
    cursor: pointer;
    user-select: none;
  }

  &__subtitle {
    font: 700 2.4em / 1.2 $font-display;
    color: map-get($colors, darkgray);
    text-transform: uppercase;
    margin: 1.2em auto 0.3em;
  }

  &__date {
    font: 400 1.3em / 0.8 $font-display;
    color: map-get($colors, darkgray);
    margin: 0 auto 0.2em;
  }
}