.app {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  @media screen and (min-width: map-get($screens, sm)) {
    flex-flow: row nowrap;
  }

  .ui-content,
  .ui-detail {
    display: none;
  }

  &[data-state="list"] {
    .ui-content {
      display: block;
    }

    .header {
      justify-content: flex-end;

      @media screen and (min-width: map-get($screens, sm)) {
        justify-content: space-between;
      }

      .button--back {
        visibility: hidden;
      }
    }
  }

  &[data-state="detail"] {
    .ui-detail {
      display: block;
    }

    .header {
      justify-content: space-between;

      .button--back {
        animation: button-back-enter 0.3s ease-in-out both;

        @keyframes button-back-enter {
          0% {
            opacity: 0;
            transform: translate(1em, 0);
          }
        }
      }
    }
  }
}