.ui-content {
  flex: 1 1 100%;
  background: #F5F5F5;
  position: relative;
  overflow: auto;
  z-index: 1;

  .post__excerpt {
    animation: content-excerpt-enter 0.5s ease-in-out 0.3s both;

    @keyframes content-excerpt-enter {
      from {
        transform: translateY(0.5em);
        opacity: 0;
      }
    }
  }
}

.ui-detail {
  flex: 1 0 100%;
  padding: 3.5em 2.5em 1em;
  background-color: #f8f9fa;
  overflow: auto;

  &.prev-black {
    animation: detail-enter 0.4s ease-in-out both;

    @keyframes detail-enter {
      from { background-color: #545663; }
    }

    .post__date {
      animation: post-date-enter 0.4s ease-in-out both;

      @keyframes post-date-enter {
        from { color: #545663; }
      }
    }

    .post__title {
      animation: post-title-enter 0.4s ease-in-out both;

      @keyframes post-title-enter {
        from { color: #545663; }
      }
    }
  }

  .post__detail {
    animation: post-detail-enter 0.5s ease-in-out 0.3s both;

    @keyframes post-detail-enter {
      from {
        transform: translateY(0.5em);
        opacity: 0;
      }
    }
  }
}