.ui-content {
  flex: 1 1 100%;
  background: #F5F5F5;
  position: relative;
  overflow: auto;
  padding-top: $header-height;
  z-index: 1;

  @media screen and (min-width: map-get($screens, sm)) {
    padding: 0;
  }

  .post {
    height: 50%;

    &__date,
    &__title,
    p {
      color: map-get($colors, white);
    }

    .button--rarrow {
      background-image: url('../images/arrow-right-white.png');
    }
  }

  .post__excerpt {
    animation: content-excerpt-enter 0.5s ease-in-out 0.3s both;

    @keyframes content-excerpt-enter {
      0% {
        transform: translateY(-0.5em);
        opacity: 0;
      }
    }
  }
}

.ui-detail {
  flex: 1 1 auto;
  padding: ($header-height + 3.5rem) 2.5em 1em;
  background-color: #f8f9fa;
  overflow: auto;

  @media screen and (min-width: map-get($screens, sm)) {
    font-size: 1.1em;
    padding: 7em 7em 4em;
  }

  &.prev-black {
    animation: detail-enter 0.4s ease-in-out both;

    @keyframes detail-enter {
      0% { background-color: #545663; }
    }

    .post__date {
      animation: post-date-enter 0.4s ease-in-out both;

      @keyframes post-date-enter {
        0% { color: #545663; }
      }
    }

    .post__title {
      animation: post-title-enter 0.4s ease-in-out both;

      @keyframes post-title-enter {
        0% { color: #545663; }
      }
    }
  }

  .post__detail {
    animation: post-detail-enter 0.5s ease-in-out 0.3s both;

    @keyframes post-detail-enter {
      0% {
        transform: translateY(0.5em);
        opacity: 0;
      }
    }

    h2 {
      font: 700 2.4em / 1.2 $font-display;
      color: map-get($colors, darkgray);
      text-transform: uppercase;
      margin: 1.2em auto 0.3em;
    }
  }

  .tns-outer {
    margin: 1em auto;
  }
}